<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SachinPawaskarUNO/SachinPawaskarUNO.github.io">Mav Basic</a></strong>
			- The UNO - MavBasic web application attempts to take the pain out of development by providing common basic functionality such as Authentication, User Management, etc.

			The MavBasic application uses the Laravel web application framework. Documentation for the framework can be found on the Laravel website.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SachinPawaskarUNO/SachinPawaskarUNO.github.io">CoRA - Commingled Remains Analyics</a></strong>
			- The goal of this project is to build a system that would help make the process of inventorying and cataloguing skeletal elements easier and give forensic anthropologists the capabilities and tools to perform reporting and advanced analytics.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SachinPawaskarUNO/SachinPawaskarUNO.github.io">IoT Analytics</a></strong>
			- The goal of this project is to build a system that will provide the capability to collect information from IoT devices with sensors directly into the cloud and perform Big Data Analytics on this data. A web application will be built to provide reporting, analytics and visualization of this data, along with administrative capabilites such as management of devices, users, etc.
		</h5>
    </div>
  </div>
</div>
</section>
