<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SachinPawaskarUNO/SachinPawaskarUNO.github.io">Mav Basic</a></strong>
			- The UNO - MavBasic web application attempts to take the pain out of development by providing common basic functionality such as Authentication, User Management, etc.

			The MavBasic application uses the Laravel web application framework. Documentation for the framework can be found on the Laravel website.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SachinPawaskarUNO/SachinPawaskarUNO.github.io">CoRA - Commingled Remains Analyics</a></strong>
			- The goal of this project is to build a system that would help make the process of cataloguing skeletal elements easier and give forensic anthropologists to perform reporting and analytics.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SachinPawaskarUNO/SachinPawaskarUNO.github.io">IoT Analytics</a></strong>
			- Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
			tractatos partiendo at, debet ubique oporteat ut his.
		</h5>
    </div>
  </div>
</div>
</section>
