<section id="teaching">
<div class="container">
  <h3>Teaching</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong>ISQA-4000/8086 Special Topics - Convergence of IoT, Big Data and The Cloud</strong>
			- The objective of this course will be to introduce students to three very important technological concepts of Internet of Things (IoT), Big Data and Cloud Computing that are going to converge and revolutionize the way humans interact with everyday objects from cars to cups.
			
			We will build an IoT device (a food compute to grow plants) based on a Raspberry Pi board and sensors such as temperature, humidity, light, CO2, Air Flow. Experiments will be designed and data from these sensors will be collected in the cloud and analyzed using “R” programming. Students will also build a web application to administrate the device and tune the device parameters in real time as well as display analytics to the users.
		</h5>
		<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong>ISQA-8950 MIS Capstone</strong>
			- The course consists of a student executed Information Systems design project providing an in-depth practical experience. It typically covers system conceptualization, analysis, and design. It may also involve prototyping. The project will typically not include the actual implementation of the system. This course replaces the MS in MIS comprehensive exam requirement.
		</h5>
		<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong>CSCI-3320 Data Structures and Algorithms</strong>
			- This is a core that will cover a number of data structures such as tree, hashing, priority queues and graphs as well as different algorithm design methods by examining common problem-solving techniques.
		</h5>
		<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong>CSCI-2240 Introduction to C programming</strong>
			- Programming in 'C' in a UNIX operating system environment; algorithm and program development and file manipulation using 'C'; UNIX-like utility development.
		</h5>
		<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong>CSCI-1620 Introduction to C++ programming</strong>
			- Advanced topics in Object oriented programming including data encapsulation, inheritance, polymorphism. Topics in data representation and manipulation, data structures, problem solving and algorithm design.
		</h5>
    </div>
  </div>
</div>
</section>
